<section class="form">
    <form [formGroup]="categoryForm" (ngSubmit)="save()">
        <app-input [control]="categoryForm.get('name')" aria-label=" Category Name" label="{{ 'p.categories.form.label.name' | translate }}"></app-input>
        <br>
        <app-input [control]="categoryForm.get('icon')"  aria-label="Category Icon" label="{{ 'p.categories.form.label.icon' | translate }}"></app-input>
        <br>
        <app-input [isColorPicker]="true" [control]="categoryForm.get('color')" aria-label="Category Color" label="{{ 'p.categories.form.label.color' | translate }}"></app-input>
        <div class="action-buttons">
            <button mat-button color="primary" aria-label="Cancel" type="button" (click)="goBack()">{{ 'p.categories.form.actions.cancel_button' | translate }}</button>
            <button mat-raised-button color="primary" aria-label="Save" type="submit" [disabled]="categoryForm.invalid">{{ 'p.categories.form.actions.save_button' | translate }}</button>
        </div>
    </form>
</section>
