<section class="form">
    <form [formGroup]="categoryForm" (ngSubmit)="save()">
        <app-input [control]="categoryForm.get('name')" label="Name"></app-input>
        <br>
        <app-input [control]="categoryForm.get('icon')" label="Icon"></app-input>
        <br>
        <app-input [control]="categoryForm.get('color')" label="Color"></app-input>
        <div class="action-buttons">
            <button mat-button color="primary" aria-label="Cancel" (click)="goBack()">Cancel</button>
            <button mat-raised-button color="primary" aria-label="Save" type="submit" [disabled]="categoryForm.invalid">Save</button>
        </div>
    </form>
</section>
