<section class="form">
  <form [formGroup]="paymentMethodForm" (ngSubmit)="save()">
      <app-input [control]="paymentMethodForm.get('name')" label="Name"></app-input>
      <br>
      <app-input [control]="paymentMethodForm.get('icon')" label="Icon"></app-input>
      <br>
      <app-select [control]="paymentMethodForm.get('type')" [options]="paymentMethodTypeOptions" label="Type"></app-select>
      <div class="action-buttons">
          <button mat-button color="primary" aria-label="Cancel" (click)="goBack()">Cancel</button>
          <button mat-raised-button color="primary" aria-label="Save" type="submit" [disabled]="paymentMethodForm.invalid">Save</button>
      </div>
  </form>
</section>
