<table mat-table [dataSource]="expenses" class="mat-elevation-z8 main-table">
  <!-- Date Column -->
  <ng-container matColumnDef="paid_at">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.paid_at}} </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <!-- Payment Type Column -->
  <ng-container matColumnDef="payment_method">
    <th mat-header-cell *matHeaderCellDef> By </th>
    <td mat-cell *matCellDef="let element"> {{element.payment_method}} </td>
  </ng-container>

  <!-- Store Column -->
  <ng-container matColumnDef="store">
    <th mat-header-cell *matHeaderCellDef> Store </th>
    <td mat-cell *matCellDef="let element"> {{element.store}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteExpense(element.id)">Delete</button>
      <button (click)="editExpense(element.id)">Edit</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>