.sidenav-container {
  height: 90%;
}

.sidenav {
  padding: 5px;

  &-nav-content {
      height: 100%;
      width: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-top {
          a {
              display: block;
          }
      }
  
      &-bottom {
          button {
              display: block;
          }
      }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
  width: 75%;
}
