.sidenav-container {
  height: 90%;
}

.sidenav {
  padding: 5px;

  &-nav-content {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      display: block;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
  width: auto;
  height: 60%;
}