<section class="form">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
      <app-input [control]="registerForm.get('email')" aria-label="E-mail" label="{{ 'p.register.form.label.email' | translate }}"></app-input>
      <br>
      <app-input [control]="registerForm.get('username')" aria-label="Username" label="{{ 'p.register.form.label.username' | translate }}"></app-input>
      <br>
      <app-input inputType="password" [control]="registerForm.get('password')" aria-label="Password" label="{{ 'p.register.form.label.password' | translate }}"></app-input>
      <br>
      <app-input inputType="password" [control]="registerForm.get('passwordRetype')" aria-label="Retype Password" label="{{ 'p.register.form.label.passwordRetype' | translate }}"></app-input>
      <div class="action-buttons">
          <button mat-button color="primary" aria-label="Cancel" type="button" (click)="goBack()">{{ 'p.register.form.actions.cancel_button' | translate }}</button>
          <button mat-raised-button color="primary" aria-label="Register" type="submit" [disabled]="registerForm.invalid">{{ 'p.register.form.actions.save_button' | translate }}</button>
      </div>
  </form>
</section>