<section class="form">
  <form [formGroup]="paymentMethodTypeForm" (ngSubmit)="save()">
      <app-input [control]="paymentMethodTypeForm.get('name')" label="{{ 'p.pmtype.form.label.name' | translate }}"></app-input>
      <br>
      <div class="action-buttons">
          <button mat-button color="primary" aria-label="Cancel" (click)="goBack()">{{ 'p.pmtype.form.actions.cancel_button' | translate }}</button>
          <button mat-raised-button color="primary" aria-label="Save" type="submit" [disabled]="paymentMethodTypeForm.invalid">{{ 'p.pmtype.form.actions.save_button' | translate }}</button>
      </div>
  </form>
</section>
